*{
    margin:0px;
    padding:0px; 
}

html,body{
    min-height:100vh;
    position:absolute;
}
.Guest{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../resources/guest_bg.png) no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Comfortaa', cursive;
    .Guest_nav{
        width: 100%;
        padding: 40px;
        display: flex;
        .navlink{
            display: block;
            white-space: nowrap;
            color: white;
            text-decoration: none;
            border: 2px solid white;
            padding: 12px;
            border-radius: 5px;
            margin-left: 40px;
            margin-right: 70px;
            text-align: center ;
            width: 100px;
            
        }
        .navlink:hover{
            color: yellow;
            border: 2px solid yellow;
        }
        
    }
    .Guest_content{
        margin-top: 40px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h3{
            margin-bottom: 40px;
            font-size: 27px;
            border-bottom: 1px;
        }
        h5{
            text-align: left;
            font-size: 10px;
            color: gray;
            margin-top: 12px;
        }
        input{
            border: none;
            width: 310px;
            margin-top: 15px;
            border-bottom: 1px solid rgb(204, 204, 204);
            
        }
        .Login{
            input[ type=username]{
                background: url(../resources/face-24px.svg) no-repeat;
                padding-left: 20px;
            }
            input[ type=password ]{
                background: url(../resources/vpn_key-24px.svg) no-repeat;
                padding-left: 20px;
            }
        }
        input[ type=submit ]{
            background: linear-gradient(rgb(32, 187, 214), rgb(4, 189, 167));
            margin-top: 40px;
            height: 40px;
            border-radius: 4px;
            font-family: 'Comfortaa', cursive;
            width: 320px;
            color: white;
        }
    
        input[ type=submit ]:hover{
            background: rgb(4, 189, 167);
        }
    }
}